.hamburger-container {
    width: 35px; 
    height: 60px; 
    position: absolute; 
    top: 30px; 
    right: 60px;
    display: inline-block;  
    cursor: pointer !important; 
    z-index: 10; 
}

.hamburger-stripe {
    height: 5px; 
    width: 100%; 
    background-color: white; 
    margin-bottom: 5px; 
}