.nasa-photo-info-container { 
    position: absolute; 
    top: 5%; 
    padding: 50px 70px 50px 50px;
    width: 50%; 
    background-color: rgba(0, 0, 0, 0.7);  
}

.nasa-photo-info-close-icon {
    color: white
}

.nasa-photo-info-close {
    opacity: 0.6; 
    font-size: 20px; 
    position: absolute; 
    bottom: 30px; 
    right: 30px; 
    transition: 0.3s; 
    cursor: pointer;
}

.nasa-photo-info-close:hover {
    opacity: 0.8; 
}

@media screen and (max-width: 1000px) {
    .nasa-photo-info-container { 
        display: none;   
    }
}